/*for google font => @import url("font url....") */

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(208, 179, 236);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: "sans-serif";
    margin: 0;
    padding: 0;
    min-height: 100vh;

}

.btn{
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1rem;
}